
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="mt-2 ms-2 d-flex justify-content-center  align-items-center mt-5">
            <a href="/Students/GetId" class="btn btn-info me-2">GetId</a>
            <a href="/Students/GetAll" class="btn btn-info me-2 ">GetAll</a>
            <a href="/Students/Update" class="btn btn-secondary me-2">Update</a>
            <a href="/Students/Delete" class="btn btn-danger me-2 ">Delete</a>



        </nav>
    </header>
    <main>
        <section class="shadow text-capitalize text-center my-5 h-25 bg-light">
            <h1>this is create </h1>
        </section>
    </main>
    <footer class="bg-transparent text-center">
        <p>footer</p>
 <p>Copyright © 2024</p>
    </footer>
</body>
</html>
